<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <style>
    .header__button a:hover{
      
        color: rgb(255, 253, 253);
        background-color: rgb(189, 19, 19);
        border: 3px solid rgb(201, 11, 11);
        border-radius: 8px;
    }
   li .x:hover{
        text-decoration: underline !important;

    }
</style>
</body>
</html>
<header class="header">
    <a href="/" class="header__logo">Account</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="x">Home</a>
            </li>
            <li>
                <a href="/about" class="y">About</a>
            </li>
            <li>
                <a href="/contact" class="z">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <a style="margin-right:20px;text-decoration:none;" href="/logout">
          Sign Out&rarr;
        </a>
    </div>
</header>